{
  "prettier": {
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "proseWrap": "preserve",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "disableLanguages": [
      "vue"
    ],
    "endOfLine": "auto",
    "eslintIntegration": false,
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "parser": "babylon",
    "requireConfig": false,
    "stylelintIntegration": false,
    "trailingComma": "none",
    "tslintIntegration": false
  }
}

