{
  "prettier.printWidth": 100,
  "prettier.tabWidth": 2,
  "prettier.useTabs": false,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.proseWrap": "preserve",
  "prettier.arrowParens": "avoid",
  "prettier.bracketSpacing": true,
  "prettier.disableLanguages": [
    "vue"
  ],
  "prettier.endOfLine": "auto",
  "prettier.eslintIntegration": false,
  "prettier.htmlWhitespaceSensitivity": "ignore",
  "prettier.jsxBracketSameLine": false,
  "prettier.jsxSingleQuote": false,
  "prettier.parser": "babylon",
  "prettier.requireConfig": false,
  "prettier.stylelintIntegration": false,
  "prettier.trailingComma": "es5",
  "prettier.tslintIntegration": false
}

